@import '../../styles/variables';
@import '../../styles/global';


section {

    background-color: #{$blueDark};
    padding: 5vh 5vw;

    #questions_title {

        text-align: center;

        h1 {
            font-size: 2rem;
        }

        ul {

            margin: 2vh auto;
            display: flex;
            flex-direction: column;

            li {
                background-color: #{$green};
                color: #{$blueDark};
                padding: 2vh;
                margin: 0 auto;
                width: 100%;
                border-radius: 5px;
                font-size: 1rem;
                max-width: 800px;

                &:not(:last-of-type) {
                    margin-bottom: 2vh;
                }
            }
        }
    }

    button {

        #back_sign {
            background-color: #{$pink};
            margin-right: 5px;
            vertical-align: center;
        }

        &:hover {

            #back_sign {
                transform: translateX(-5px);
                transition: .5s all ease-in-out;
            }
        }
    }


}