@import './variables';


button {

    display: flex;
    margin: 0 auto;
    background-color: $pink;
    padding: 1em 1.5em;
    border-radius: 5px;
    border: none;
    transition: .5s all ease-in-out;

    a {
        background-color: #{$pink};
    }

    &:hover {
        cursor: pointer;
    }

    &.disabled {
        opacity: 50%;
        cursor: default;
    }
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #{$black};
    opacity: 50%;

    &:hover {
        cursor: pointer;
    }
}