// Import Scss
@import './variables';


// Animation
@keyframes rotate {

    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(1deg);
    }
    00% {
        transform: rotate(0deg);
    }

}


// Global Style
button {

    display: flex;
    margin: 5vh auto;
    background-color: $pink;
    padding: 1em 1.5em;
    border-radius: 5px;
    border: none;
    transition: .5s all ease-in-out;

    a {
        background-color: #{$pink};
    }

    &:hover {
        cursor: pointer;
    }

    &.disabled {
        opacity: 50%;
        cursor: default;
    }
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #{$black};
    opacity: 70%;

    &:hover {
        cursor: pointer;
    }
}

a.disabled {
    cursor: default;
}
