// Variables
@import '../../../styles/variables';

.question {
    width: 100%;
    max-width: 800px;
    padding: 0 5vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    fieldset {
        width: 100%;
        border: none;
        display: flex;
        justify-content: space-around;
        align-items: center;

        legend {
            margin: 5vh auto;
            text-align: center;
            font-size: 1.5rem;
        }

        input[type=radio] {
            border: none;
            border-style: none;
            width: 100%;
            height: 1.5em;

            &:hover {
                cursor: pointer;
            }

            &.lg {
                height: 3em; 
            }

            &.md {
                height: 2em;
            }

            &.green {
                accent-color: #{$green};
            }

            &.red {
                accent-color: #{$red};
            }

            &.grey {
                accent-color: #{$grey};
            }
        }
    }

    #question_content {
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
            margin-top: 2vh;
            font-size: .75rem;
            font-weight: 300;

            &:first-child {
                color: #{$green};
            }

            &:last-child {
                color: #{$red};
            }
        }
    }

}