// Imports Scss
@import "../../../styles/variables";
@import "../../../styles/global";


// Result Card
.result-card {
    margin: 2.5vh auto;
    width: 80%;
    border: 1px solid #{$white};
    border-radius: 10px;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    max-width: 500px;

    &:hover {
        cursor: pointer;
    }

    .result-card-top {
        display: flex;

        h2 {
            font-size: 1.25rem;
            display: flex;
            justify-content: center;
            flex: 3;
            text-align: center;
        }

        .result-card-icons {
            display: flex;
            align-items: center;
            margin-right: 3vw;

            svg {
                fill: #{$white};
                transform: scale(1.5);
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .result-card-bottom {
        width: 100%;
        height: auto;

        p {
            font-size: 1rem;
            padding: 4vh 1vw 0;
            font-weight: 300;
        }
    }

    &.result-card-clicked {
        border: 1px solid #{$green};

        h2 {
            color: #{$green};
        }

        .result-card-icons svg {
            fill: #{$green};
        }

        &:hover {
            animation: rotate .5s ease-in-out both;
        }

    }

}
