@import '../../styles/variables';


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 5vw;
    top: 0;
    position: sticky;

    #header_title img {
        width: 40%;

        &:hover {
            transform: scale(1.1);
            transition: .5s all ease-in-out;
        }
    }
}