body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

	a {
		text-decoration: none;
	}
}
