// Variables
@import "../../../styles/variables";


article {

    h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        text-align: center;
        font-weight: 600;
    }

    #result_card {
        margin: 0 auto;
        width: 60%;
        border: 1px solid #{$white};
        border-radius: 7px;
        padding: 2vh 2vw;
        display: flex;

        h2 {
            font-size: 1.75rem;
            display: flex;
            justify-content: center;
            flex: 2;
        }

        #result_card_cross {
            display: flex;
            align-items: center;
            margin-right: 3vw;

            svg {
                fill: #{$white};
                z-index: 2;
                transform: scale(1.5);
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

}
