// Variables
@import "../../../styles/variables";


.result_card {
    margin: 2.5vh auto;
    width: 80%;
    border: 1px solid #{$white};
    border-radius: 10px;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;

    &:hover {
        cursor: pointer;
    }

    .result_card_top {
        display: flex;

        h2 {
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            flex: 2;
            text-align: center;
        }

        .result_card_icons {
            display: flex;
            align-items: center;
            margin-right: 3vw;

            svg {
                fill: #{$white};
                z-index: 2;
                transform: scale(1.5);
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .result_card_bottom {
        width: 100%;

        p {
            padding: 2vh 2vw;
        }
    }

}
